*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'DM Sans', sans-serif;
    overflow-x:hidden;

}
/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px; /* J'ai ajouté votre marge ici */
    background-color: #FFFFFF;
    color: #7F8FA6;
    
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left img {
    margin-right: 20px;
    width: 150px;
    height: 112px;
}

.navbar a {
    color: #7F8FA6;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px; /* taille de police réduite pour équilibrer les proportions */
}

.navbar a:hover {
    color: #AEC5E5;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navbar li {
    display: inline-flex;
    margin: 0 10px;
}

.border-btn {
    border: 2px solid #AEC5E5;
    padding: 5px 10px; /* espace intérieur réduit pour équilibrer les proportions */
    border-radius: 48px; 
    width: 116px; /* largeur réduite pour équilibrer les proportions */
    height: 48px; /* hauteur réduite pour équilibrer les proportions */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.border-btn a:hover {
    background-color: #AEC5E5;
    color: #FFFFFF;
    transition: 0.3s;
}

/*section1 index*/


.main-content {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    margin-top: 230px; /* Ajouté pour créer de l'espace entre la navbar et la section principale */
}

.left-content {
    max-width: 50%;
}

.right-content {
    max-width: 50%;
    margin-right: 130px;
}

h1 {
    font-size: 2.5rem;
    color: #7F8FA6;
    font-family: Arial, sans-serif; /* Spécifiez la police Arial pour le titre */
}

p {
    font-size: 1rem;
    color: #7F8FA6;
    font-family: 'DM Sans', sans-serif;
    width: 574px;
    text-align: left;
}
.main-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: #669F59;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    border: 2px solid #669F59;
    transition: 0.3s;
    font-family: 'DM Sans', sans-serif;
}

.main-btn:hover {
    
    background-color: transparent;
    color: #669F59;
    transition: 0.3s;

}

.main-btn.secondary {
    border: 2px solid #669F59;
    background-color: transparent;
    color: #669F59; 
    font-family: 'DM Sans', sans-serif;
}

.main-btn.secondary:hover {
    background-color: #669F59;
    color: #FFFFFF;
}

.main-btn i {
    margin-right: 10px;
    margin-left: 10px;
    
}


.right-content img{
    max-height: calc(100vh - 285px - 54px); 
    width: 120%; 
    display: block; /* Ajoutez ceci */
    margin: 0; /* Ajoutez ceci */
    padding: 0; /* Ajoutez ceci */
}


